{% extends 'parent.html' %}
{% block foot %}
<div class="foot">
    <div class="footContent clearfix">
        <div class="left">
            <div class="friendLink">
                <ul class="clearfix">
                    <li><a href="#">关于网站</a><span>|</span></li>
                    <li><a href="#">客户服务</a><span>|</span></li>
                    <li><a href="#">服务条款</a><span>|</span></li>
                    <li><a href="#">网站导航</a><span>|</span></li>
                    <li><a href="#">意见反馈</a></li>
                </ul>
            </div>
            <p class="copy">版权所有&copy;1997-2018&nbsp;&nbsp;[2015]C415-135号</p>
        </div>
        <div class="right f-r">
            <ul>
                <li class="i-bok"><a href="#" class="single i-bok"></a></li>
                <li class="i-bok"><a href="#" class="msc-col i-bok"></a></li>
                <li class="i-bok"><a href="#" class="media i-bok"></a></li>
                <li class="i-bok"><a href="#" class="acn i-bok"></a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
